
button {
    // margin: 1em auto 0;
    // padding: 0.4em 0.8em;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: $border_r;
    background-color: $clr_orange;
    color: $txt_clr_l;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: $fs_md;
    // font-weight: 300;
    text-align: center;
    
    &.btn-outline {
        width: 100%;
        background-color: $clr_white;
        color: $clr_black;
    }

    &.btn-sign-out {
        padding: 2.032em 1em;
        // right: 0;
        // top: 0;
        // position: absolute;
        // cursor: pointer;
        font-size: $fs_sm;
    }
}

.circle-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10em;

    svg {
        height: 1em;
        width: 1em;
        margin: .2em;
    }
}


.remove-btn {
    height: 13px;
    width: 13px;
    padding: 0px;
    margin: 0px;
    color: $clr_yellow;
    background-color: transparent;
    cursor: pointer;
}

.invite-btn {
    width: auto;
    margin: 0px 20px;
    padding: 5px 10px;
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    color: $clr_white;
    background-color: $clr_yellow;
    text-transform: uppercase;
    font-size: 12px;
}

.invite-btn svg {
    width: auto;
    height: 12px;
    margin-right: 5px;
}

.invite-btn svg path {
    fill: $clr_white;
}