.header-cntr {
    width: 100%;
    margin: .5em 0;
    padding: .5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;

    &__inner-cntr {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: absolute;
   
        .logo {
            font-family: $ff_brand;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: lighter;
            // opacity: .5;

            span {
                font-weight: bold;
                font-size: inherit;
            }
        }
    }
}
