nav {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: $clr_nav;
    text-align: center;
    z-index: 100;


    .nav-links {
        border: solid red 1px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        a {
            width: 100px;
            height: auto;
            margin: 0 auto;
            padding: .75em 0;
            color: $txt_clr_l;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .5em;

            svg {
                height: 1.5em;
                width: auto;
            }

            &:hover {
                background-color: transparent;
                color: $clr_orange;
            }

            &.active {
                color: $clr_orange;
            }

        }

    }

}