
.form-cntr {
    margin: 0 auto;
    border-radius: $border_r;
    background-color: $clr_white;

    form {
        padding: 1.5em 1em;
        background-color: $clr_white;
        animation: fadeIn 0.5s;
        border-radius: $border_r;
        
        button {
            width: 40%;
            padding: .5em 2em;
            font-size: $fs_md;

            &.submit-btn {
                font-size: $fs_md;
            }
            
        }
        
        input {
            width: 100%;
            padding: .75em;
            box-sizing: border-box;
            border: solid 1px grey;
            border-radius: 5px;
            display: block;
            background: $clr_white;
        }

        .file-input {
            display: none;
        }
    }
}

select {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: #f1f1f1;
    border: solid 1px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
}




.image-preview {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}



.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
    margin: 0 0 1.2em;
    display: flex;
    align-items: center;
    text-align: left;

    span {
        margin: 0 0 0 1em;
    }

    img {
        max-width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}

