.flex-cols {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.flex-rows {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.space-between {
    justify-content: space-between;
}


.flex-center-items {
    justify-content: center;
    align-items: center;
}

.flex-gap-1 {
    gap: 1em;
}
.flex-gap-2 {
    gap: 2em;
}
.flex-gap-025 {
    gap: .25em;
}

.flex-outer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
@media (min-width: 600px) {
    .flex-outer-wrapper {
        gap: 2em;
    }
}

.flex-inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .flex-outer-wrapper {
        flex-direction: row;
    }
}


