.flex-cols {
    // border: solid red 0px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.flex-rows {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}


.flex-outer-wrapper {
    border: solid green 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-inner-wrapper {
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    // gap: 2em;
    justify-content: space-between;
}



@media (min-width: 600px) {
    .flex-outer-wrapper {
        flex-direction: row;
    }
    // .flex-inner-wrapper {
    //     flex-direction: row;
    // }
}

// @media (min-width: 992) {
//     .flex-inner-wrapper {
//         flex-direction: row;
//     }
// }

// @media (min-width: 992px) {
// }

