
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: $ff_main;
    font-weight: 500;
    color: $txt_clr_d;
    background-color: $clr_bg;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.App {
    color: $text_primary;
    background-color: $clr_bg;
}

.border-blue {
    border: solid blue 1px;
}
.border-red {
    border: solid red 1px;
}