/* Width */
::-webkit-scrollbar {
    width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $clr_nav;
    border-radius: .2em;
}