h1 {
    font-size: $fs_x_lg;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: center;
}

h2 {
    font-size: $fs_lg;
    font-weight: 600;
    letter-spacing: 0.02em;
} 

h3 {
    font-size: $fs_lg;
    letter-spacing: 0.02em;
}

span, p {
    font-size: $fs_sm;
}

a {
    color: $clr_orange;
    text-decoration: none;
}


.text-center {
    text-align: center;
    /* padding-top: 10%; */
}

// .text-center a {
//     padding-left: 2%;
// }

.text-error {
    color: $txt_clr_danger;
}

.text-error:first-letter {
    text-transform: uppercase;
}

.fs-2x-sm {
    font-size: $fs_x_sm;
}
.fs-x-sm {
    font-size: $fs_2x_sm;
}
.fs-sm {
    font-size: $fs_sm;
}
.fs-md {
    font-size: $fs_md;
}
.fs-lg {
    font-size: $fs_lg;
}
.fs-x-lg {
    font-size: $fs_x_lg;
}
.fs-2x-lg {
    font-size: $fs_2x_lg;
}

.text-letspace {
    letter-spacing: 0.02em;
}

.ucase {
    text-transform: uppercase;
}

.xs-caps {
    font-weight: 500;
    font-size: $fs_x_sm;
    text-transform: uppercase;
}