.page {
    color: $text_primary;
    background-color: $clr_bg;
}

.page {
    min-height: calc(100vh - 58px - 2em);
    padding: 1em;
    padding-bottom: 100px;
    transition: all 0.5s;    

    &__header-cntr {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        text-transform: uppercase;
        // text-align: center;
    }
    /* color: var(--blue-d); */
}

.card {
    margin: 0em 0em 2em 0em;
}

.page-title {
    border: solid blue 0px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page-title > h2 {
    margin-top: 0px;
}

.page-title > svg {
    height: 26px;
    width: 26px;
}