
.page {
    padding: 1em;
    padding-bottom: 6em;
    color: $text_primary;
    background-color: $clr_bg;
    transition: all 0.5s;    
    display: flex;
    flex-direction: column;

    &__header-cntr {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        text-transform: uppercase;
    }
    

    .page-title {
        margin: 1em auto 0.25em auto;
        text-transform: uppercase;
    }
}


.spaced {
    gap: 2em;
}