/* ---------- PROFILE PAGE ---------- */

// .profile-page {
//     width: 100%;
//     height: 100%;
//     padding: 10px 0px;
// }

// .profile-page h3 {
//     text-transform: uppercase;
//     font-size: 16px;
// }

// .profile-page h3, p {
//     margin: 0;
// }

// .profile-page p {
//     margin-bottom: 10px;
// }

.profile-page form {
    height: 100%;
    border-radius: $border_r;
    text-align: left;
    color: $clr_blue_d;
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-img {
        width: 10em;
        height: 10em;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 50em;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// .profile-page input {
//     width: 100%;
//     max-width: 95%;
//     padding: 1em;
//     margin-bottom: 5%;
//     box-sizing: border-box;
//     display: block;
//     background: $clr_white;
//     color: #363636;
//     border: solid #363636 2px;
//     border-radius: 5px;
// }



// .profile-avatar > .img-input-cntr {
//     border: solid blue 0px;
//     width: 100%;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .profile-avatar-label {
//     border: solid blue 0px;
//     margin: 0px;
//     font-size: 12px;
//     color: grey;
// }

// .profile-avatar > .img-input {
//     width: 138px;
//     margin: 0 auto;
//     padding: 6px 0px;
//     border: none;
//     font-size: 12px;
//     align-self: left;
// }

// .profile-avatar > .img-input::-webkit-file-upload-button {
//     visibility: hidden;
// }

// .profile-avatar > .img-input::before {
//     padding: .6em .8em;
//     margin: 0 auto;
//     content: 'Update profile picture';
//     display: inline-block;
//     border: solid #000 2px;
//     border-radius: 3px;
//     outline: none;
//     user-select: none;
//     -webkit-user-select: none;
//     cursor: pointer;
//     background-color: transparent;
// }


.profile-btn-cntr {
    width: 100%;
    margin: 2em 0 0 0;
    display: flex;
    align-items: center;

    button {
        width: 100%;
        padding: .5em 1em;
        font-size: $fs_x_sm;
    }
}

@media (min-width: 600px) {
    .profile-btn-cntr {
        bottom: 0;
    
        button {
            max-width: 40%;
        }
    }
}



// .user-details {

// }

// @media (min-width: 600px) {
//   .user-details {
//   }
// }


.notif-box {
    height: 1.25em;
    width: 90%;
    // margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    input {
        height: 1em;
        width: 1em;
        margin: 0;
    }

    div {
        // border: solid red 0px;
        height: 100%;
        // margin: 2px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            height: .75em;
            width: .75em;
            color: $clr_blue_d;
        }
        p {
            margin: 0;
            // padding: 0 0 0 0;
            font-size: $fs_x_sm;
        }
    }
}

