/* ---------- WELCOMECARD ---------- */
.welcome-card {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    background-color: var(--blue-l);
    border-radius: var(--border-r);
}

.welcome-userimg {
    height: auto;
    padding: 22px 10px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-userimg .user-img img {
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.welcome-msg {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 10px 5px 10px;
}

.welcome-msg h2 {
    margin: 0px 0px 10px 0px;
}

.welcome-msg p {
    padding-bottom: 10%;
    margin: 0;
}
