[data-theme="dark"] {
    $background: #232323;
    $nav: #0a0d1e;

    $text-primary: white;
    $text-secondary: grey;
    $txt_clr_l: #f1f1f1;
    $txt_clr_d: #333;

    $white: #232323;
    $black: #f1f1f1;
    $grey_l: #dddddd;
    $grey_m: #454545;
    $grey_d: #aeaeae;

    $blue_d: #f1f1f1;
    $blue_m: #52b1e1;
    $blue_l: #2d1e2f;
    $orange: #bb7907;
}

.dark {
    $background: #232323;
    $nav: #0a0d1e;

    $text-primary: white;
    $text-secondary: grey;
    $txt_clr_l: #f1f1f1;
    $txt_clr_d: #333;

    $white: #232323;
    $black: #f1f1f1;
    $grey_l: #dddddd;
    $grey_m: #454545;
    $grey_d: #aeaeae;

    $blue_d: #f1f1f1;
    $blue_m: #52b1e1;
    $blue_l: #2d1e2f;
    $orange: #bb7907;
}
