$clr_white: #f1f1f1;
$clr_black: #232323;
$clr_grey_l: #dddddd;
$clr_grey_m: #aeaeae;
$clr_grey_md: #6d6d6d;
$clr_grey_d: #454545;

$clr_blue_d: #2d1e2f;
$clr_blue_m: #52b1e1;
$clr_blue_l: #f6f8fa;
$clr_yellow: #ffc662;
$clr_yellow_l: #ffd895;
$clr_orange: #f39e0a;

/* --background: #72617e; */
$background: #c5c8dc;
$clr_bg: #c5c8dc;
$nav: #161b3b;
$clr_nav: #161b3b;

$border_r: .25em;



$txt_clr_l: #f1f1f1;
$txt_clr_d: #232323;
$txt_clr_danger: rgb(152, 58, 58);

$text_primary: #232323;
$text_secondary: #454545;


$ff_main: "montserrat", sans-serif;
$ff_brand: "filson-soft", sans-serif;

$fs_2x_sm: .25rem;
$fs_x_sm: .5rem;
$fs_sm: .75rem;
$fs_md: 1rem;
$fs_lg: 1.5rem;
$fs_x_lg: 1.75rem;
$fs_2x_lg: 1.75rem;

