/* :root {
    --d-grey: #282828;
    --m-grey: #4e4e4e;
    --l-grey: #d1d1d1;
    --white: #f0f0f0;
    --l-blue: #849efd;
    --d-blue: #3351bc;
    --l-orange: #fdac84;
    --d-orange: #ff6f47;
} */