/* ---------- ROOTS ---------- */
:root {
    --white: #f1f1f1;
    --black: #232323;
    --grey-l: #dddddd;
    --grey-m: #aeaeae;
    --grey-d: #454545;
    
    --blue-d: #2d1e2f;
    --blue-m: #52b1e1;
    --blue-l: #f6f8fa;
    --yellow: #ffc662;
    --yellow-l: #ffd895;
    --orange: #f39e0a;

    /* --background: #72617e; */
    --background: #c5c8dc;
    --nav: #161b3b;
    
    --border-r: 10px;

    --font-main: "montserrat", sans-serif;
    --font-header: "filson-soft", sans-serif;
    --txt-clr-l: #f1f1f1;
    --txt-clr-d: #232323;
    --txt-clr-danger: rgb(152, 58, 58);
}
  

/* ----- IMPORTS ----- */
/* @import url("https://use.typekit.net/smz2raf.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot");
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg") format("svg");
} */
  
/* ----- DARK MODE ----- */
[data-theme="dark"] {
    --background: #232323;
    --nav: #0a0d1e;

    --text-primary: white;
    --text-secondary: grey;
    --txt-clr-l: #f1f1f1;
    --txt-clr-d: #333;

    --white: #232323;
    --black: #f1f1f1;
    --grey-l: #dddddd;
    --grey-m: #454545;
    --grey-d: #aeaeae;

    --blue-d: #f1f1f1;
    --blue-m: #52b1e1;
    --blue-l: #2d1e2f;
    --orange: #bb7907; 
}


/* ----- GENERAL ----- */
/* body {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--txt-clr-d);
    background-color: var(--background);
} */
/* 
h1 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
}

h2 {
    font-weight: 600;
    letter-spacing: 0.1px;
}

h3 {
    font-weight: 500;
    letter-spacing: 0.1px;
}

p {
    font-size: 16px;
} */

/* a {
    color: var(--orange);
} */


/*----- Scrollbar -----*/
/* Width */
/* ::-webkit-scrollbar {
    width: 6px;
    border: 1px solid transparent;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background-color: transparent;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
    z-index: 100;
    position: absolute;
} */


/* ----- Page Styling ----- */
/* .App,.page {
    color: var(--text-primary);
    background-color: var(--background);
}

.page {
    min-height: calc(100vh - 58px - 2em);
    padding: 1em;
    padding-bottom: 100px;
    transition: all 0.5s;    
    color: var(--blue-d);
} */

.card {
    margin: 0em 0em 2em 0em;
}

/* .page-title {
    border: solid blue 0px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page-title > h2 {
    margin-top: 0px;
}

.page-title > svg {
    height: 26px;
    width: 26px;
} */

/* .text-center {
    text-align: center;
    padding-top: 10%;
}

.text-center a {
    padding-left: 2%;
}

.text-error {
    color: var(--txt-clr-danger);
}

.text-error:first-letter {
    text-transform: uppercase;
} */


/* ----- HEADER CNTR ----- */
.header-cntr {
    border: solid red 0px;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.header-logo-box {
    border: solid blue 0px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
}


/* ----- Logo ----- */
.logo {
    font-family: var(--font-header);
    text-transform: uppercase;
    font-weight: lighter;
}

.logo span {
    font-weight: bold;
}

.header_logo {
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
}
.header_logo span {
    font-weight: bold;
}


/* ---------- HOME PAGE ---------- */
/* ----- Grid Container ----- */
.grid-cntr {
    border: solid red 0px;
    display: flex;
    flex-direction: column;
    column-gap: 5em;
    row-gap: 2em;
}

.outer-cntr {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .grid-cntr {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .grid-cntr {
        flex-direction: row;
        justify-content: space-between;
    }
    .outer-cntr {
        width: 45%;
    }
}

.title-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-box > h2 {
    margin: 0;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: uppercase;
}

.task-cntr-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.task-cntr-link svg {
    height: 20px;
    width: 20px;
    color: rgba(0, 0, 0, 1);
}


/* ----- Tasks Container ----- */
.task-cntr {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-r);
}

.task-cntr > article {
    min-height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    animation: fadeIn 0.5s;
}

.task-cntr > article::before {
    content: "";
    height: 2px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--black);
}

.task-cntr > article > .task-post {
    min-height: auto;
    width: 98%;
    margin: 0px auto;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    /* transition: 0.5s;
    animation: fadeIn 0.5s; */
}

@media (min-width: 600px) {
    /* .task-cntr {

    } */
}

@media (min-width: 992px) {
    /* .task-cntr {

    } */
}

.form-cntr {
    max-width: 380px;
    margin: 0 auto;
    padding: 0em 0em 1.5em 0em;
    border-radius: var(--border-r);
    background-color: var(--white);
}


/* ---------- SIGNIN / SIGNUP PAGE ---------- */
/* .signin-cntr {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: var(--blue-d);
}

.signin-form {
    width: 350px;
    max-width: 90%;
    margin: auto;
    padding: 1em 1em 2em;
    background-color: var(--white);
    text-align: center;
    animation: fadeIn 0.5s;
}

@media (min-width: 600px) {
    .signin-form {
        width: 550px;
        max-width: 90%;
    }
}
  
@media (min-width: 992px) {
    .signin-form {
        width: 600px;
    }
}

.signin-form input {
    margin: 2em auto;
    border-radius: 5px;
    background-color: var(--white);
    color:  var(--black);
    border: solid var(--black) 2px;
}

.signin-form input::placeholder {
    color:  var(--black);
}

.signin-form input::-ms-input-placeholder {
    color:  var(--black);
}


/* Image input field */
.signin-form > .img-input-cntr {
    width: 100%;
    margin: 0em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signin-form .img-input {
    width: 138px;
    margin:1em auto 2em auto;
    padding: 6px 0px;
    border: none;
    font-size: 12px;
    align-self: left;
}

.img-input::-webkit-file-upload-button {
    visibility: hidden;
}

.signin-form > .img-input::before {
    padding: .6em .8em;
    margin: 0 auto;
    content: 'Upload profile picture';
    display: inline-block;
    border: solid var(--black) 2px;
    border-radius: 3px;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: transparent;
}


/* Sign in/up button + link */
.signin-form .text-center {
    /* padding-top: 10px; */
    color: var(--black);
}

.signin-form a {
    color: var(--orange);
    font-size: 14px;
    font-weight: 600; 
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.signin-form .signin-btn {
    width: 50%;
    max-width: 350px;
    margin: 4em auto 1em auto;
    padding: 0.8em 1em;
    display: block;
    cursor: pointer;
    border: none;
    background-color: var(--orange);
    color: var(--txt-clr-l);
    font-size: 14px;
    font-weight: 600; 
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;  
} */


/* ---------- CREATE TASK PAGE ---------- */
/* .createtask-cntr {
    min-height: 55px;
    margin-top: 40px;
    width: auto;
    padding: 5px 10px;
    background-color: var(--white);
    transition: 0.5s;
    animation: fadeIn 0.5s;
    background-color: var(--blue-l);
    border-radius: var(--border-r);
} */
/* 
.taskform_label h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
} */



/* ---------- CREATE GROUP TASK PAGE ---------- */
select {
    -webkit-appearance: none;
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: #f1f1f1;
    border: solid 2px grey;
    border-radius: 5px;
}

/* ----- Forms ----- */
form {
    max-width: 380px;
    margin: auto;
    padding: 1em 1em 2em;
    text-align: center;
    line-height: 30px;
    background-color: var(--white);
    animation: fadeIn 0.5s;
    border-radius: var(--border-r);
}

form button {
    width: 40%;
    max-width: 350px;
    padding: 6px 1px;
    font-size: 1em;   
}

/* form.btn {
    width: 40%;
    max-width: 350px;
    padding: 6px 1px;
    font-size: 1em;   
} */

button {
    margin: 1.4em auto 0;
    padding: 0.4em 0.8em;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: var(--orange);
    color: var(--txt-clr-l);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
}

button.btn-outline {
    width: 100%;
    background-color: var(--white);
    color: black;
}

.btn-sign-out {
    padding: 2.032em 1em;
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    font-size: 0.3em;
}

input {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border: solid 2px /*grey*/;
    border-radius: 5px;
    display: block;
    background: #f1f1f1;
}

.image-preview {
    width: 200px;
    /* max-width: 200px; */
    height: 200px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}



form .file-input {
    display: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
    margin: 0 0 1.2em;
    display: flex;
    align-items: center;
    text-align: left;
}

.avatar span {
    margin: 0 0 0 1em;
}

.avatar h3, .avatar p {
    margin: 0;
}

article .avatar img {
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}



/* ---------- PROFILE PAGE ----------
.profile-page {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.profile-page h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.profile-page h3, p {
    margin: 0;
}

.profile-page p {
    margin-bottom: 10px;
}

.profile-page form {
    height: 100%;
    border-radius: var(--border-r);
    text-align: left;
    color: var(--blue-d);
}

.profile-page .user-img img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-page input {
    width: 100%;
    max-width: 95%;
    padding: 1em;
    margin-bottom: 5%;
    box-sizing: border-box;
    display: block;
    background: var(--white);
    color: #363636;
    border: solid #363636 2px;
    border-radius: 5px;
}

.profile-avatar {
    border: solid blue 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-avatar > .img-input-cntr {
    border: solid blue 0px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-avatar-label {
    border: solid blue 0px;
    margin: 0px;
    font-size: 12px;
    color: grey;
}

.profile-avatar > .img-input {
    width: 138px;
    margin: 0 auto;
    padding: 6px 0px;
    border: none;
    font-size: 12px;
    align-self: left;
}

.profile-avatar > .img-input::-webkit-file-upload-button {
    visibility: hidden;
}

.profile-avatar > .img-input::before {
    padding: .6em .8em;
    margin: 0 auto;
    content: 'Update profile picture';
    display: inline-block;
    border: solid #000 2px;
    border-radius: 3px;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: transparent;
}

.profile-avatar .user-img {
    margin-left: auto;
    margin-right: auto;
}

.profile-btn-cntr {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.profile-btn-cntr button {
    width: 100%;
    padding: 1em 1em;
    font-size: 10px;
}


.notif-box {
    border: solid blue 0px;
    height: 20px;
    width: 90%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notif-box input {
    height: 16px;
    width: 16px;
    margin: 0;
}

.notif-box div {
    border: solid red 0px;
    height: 100%;
    margin: 2px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notif-box div p {
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-size: 12px;
}

.notif-box div svg {
    height: 14px;
    width: 14px;
    color: var(--blue-d);
} */



/* ----- Group box ----- */
.group-members-box {
    border: solid red 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-members-box .user-img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.group-members-box .user-img img {
    border: solid var(--blue-m) 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.group-members-details {
    border: solid green 0px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-members-details input {
    width: 50%;
    max-width: 350px;
    margin: 5px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: var(--white);
    color: var(--blue-m);
    border: solid 2px grey;
    border-radius: var(5px);
}

.remove-btn {
    height: 13px;
    width: 13px;
    padding: 0px;
    margin: 0px;
    color: var(--yellow);
    background-color: transparent;
    cursor: pointer;
}

.invite-btn {
    width: auto;
    margin: 0px 20px;
    padding: 5px 10px;
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--yellow);
    text-transform: uppercase;
    font-size: 12px;
}

.invite-btn svg {
    width: auto;
    height: 12px;
    margin-right: 5px;
}

.invite-btn svg path {
    fill: var(--white);
}



/* ---------- ANIMATIONS ---------- */
/* fade in */
/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */